## 53: Membuat kategori baru berdasarkan threshold (ambang batas)

In [1]:
import pandas as pd

In [2]:
d = {'hobi':['jogging', 'mancing', 'renang',
             'mancing', 'mancing', 'baca', 
             'baca', 'mancing', 'fotograsi', 
             'mancing', 'camping']}

df = pd.DataFrame(d)
df

         hobi
0     jogging
1     mancing
2      renang
3     mancing
4     mancing
5        baca
6        baca
7     mancing
8   fotograsi
9     mancing
10    camping

#### Membuat kategori baru berdasarkan threshold (ambang batas)

In [3]:
df['hobi'].value_counts()

hobi
mancing      5
baca         2
jogging      1
renang       1
fotograsi    1
camping      1
Name: count, dtype: int64

In [4]:
persentase = df['hobi'].value_counts(normalize=True)
persentase

hobi
mancing      0.454545
baca         0.181818
jogging      0.090909
renang       0.090909
fotograsi    0.090909
camping      0.090909
Name: proportion, dtype: float64

In [5]:
threshold = 0.1
hobi_lain = persentase[persentase < threshold].index
hobi_lain

Index(['jogging', 'renang', 'fotograsi', 'camping'], dtype='object', name='hobi')

In [6]:
df['hobi'] = df['hobi'].replace(hobi_lain, 'lainnya')
df['hobi']

0     lainnya
1     mancing
2     lainnya
3     mancing
4     mancing
5        baca
6        baca
7     mancing
8     lainnya
9     mancing
10    lainnya
Name: hobi, dtype: object

In [7]:
df['hobi'] = df['hobi'].replace(hobi_lain, 'lainnya')
df['hobi']

0     lainnya
1     mancing
2     lainnya
3     mancing
4     mancing
5        baca
6        baca
7     mancing
8     lainnya
9     mancing
10    lainnya
Name: hobi, dtype: object

## 54: Menyimpan Data Frame sebagai file CSV

#### Persiapan Data  Frame

In [8]:
data = {
    'nama': ['bayu', 'indra', 'dewi', 'agni'],
    'jenis_kelamin': ['L', 'P', 'L', 'L'],
    'usia': [23, 21, 22, 25]
}

df = pd.DataFrame(data)
df

    nama jenis_kelamin  usia
0   bayu             L    23
1  indra             P    21
2   dewi             L    22
3   agni             L    25

#### Menyimpan Data Frame sebagai file CSV

In [9]:
df.to_csv('data_peserta.csv')

In [10]:
df = pd.read_csv('data_peserta.csv',index_col=0)

In [11]:
df.to_csv('data_peserta.csv', index=False)
df = pd.read_csv('data_peserta.csv')

## 55: Menghitung jumlah baris menurut kriteria tertentu

#### Persiapan Data Frame

In [12]:
import pandas as pd
import numpy as np

In [13]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(
    np.random.randint(1, 10, size=(n_rows, n_cols)),
    columns=cols
)

df

   A  B  C  D  E
0  7  9  4  2  5
1  4  3  5  5  8
2  2  1  1  3  1
3  9  4  9  3  7
4  5  6  1  1  7
5  2  5  6  5  2
6  3  8  2  1  2
7  5  5  9  9  1
8  2  5  2  1  2
9  9  4  6  3  5

#### Menghitung Jumlah Baris Berdasarkan Kriteria Tertentu

In [14]:
(df['A'] < 5).sum()

np.int64(5)

In [15]:
(df['A'] < 5).mean()

np.float64(0.5)


## 56: Mengeluarkan kolom dari Data Frame

#### Persiapan Data Frame

In [17]:
data = {
    'nama': ['bayu', 'indra', 'dewi', 'agni'],
    'jenis_kelamin': ['L', 'P', 'L', 'L'],
    'usia': [23, 21, 22, 25]
}

df = pd.DataFrame(data)
df

    nama jenis_kelamin  usia
0   bayu             L    23
1  indra             P    21
2   dewi             L    22
3   agni             L    25

#### Mengeluarkan kolom dari Data Frame

In [18]:
usia = df.pop('usia').to_frame()